 :root{
    --bt-scale: 8vw;
    --app-height: 100vh;
}

html{
    width: 100% !important;
    max-width: 100% !important;
    height: var(--app-height);
    overflow-x: hidden !important;
    background-color: #1c1c1c;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body{
    width: 100% !important;
    max-width: 100% !important;
    height: var(--app-height);
    margin: 0%;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: touch;
}


div{
    pointer-events: auto;
}

#game-container{
    width: 100vw;
    margin: 0%;
    padding: 0%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    filter: blur(0px);
    transform: scale(1.0);
    transition: opacity .5s ease-in-out, filter .5s ease-in-out, transform .7s ease-in-out;
}

#game-container.transitioning{
    transition: opacity .5s ease-in-out, filter .5s ease-in-out, transform .7s ease-in-out;
    opacity: 0;
    filter: blur(5px);
    transform: scale(2.0);
}

#main-title{
    font-family: "NES";
    color: #ffffff;
    font-size: min(10vw, 5em);
}

#quick-rom-select-container{
    display: grid;
    margin: 1em;
    padding: 0px;
    width: 75vw;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 11px;
    justify-content: center;
    align-items: center;
}

#quick-rom-select-container li{
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #101010;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 1.0em;
    text-align: center;
    margin: 0.25em;
    padding: 0%;
    text-decoration: none;
    font-family: "NES";
    color: #ffffff;
    cursor: pointer;
    transition: background-color .3s ease-in-out, transform .3s ease-in-out;
}

#quick-rom-select-container li:hover{
    background-color: #0f98fd;
    transform: scale(1.1);
}

#quick-rom-select-container li img{
    justify-self: center;
    align-self: center;
    height: 50%;
    margin: 5%;
    padding: 0%;
    object-fit: contain;
}

:nth-child(2 of #quick-rom-select-container li img){
    transform: scaleX(-1);
}

#screen{
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    display: none;
    margin: 0%;
    padding: 0%;
    width: min(var(--app-height)*1.07, 100vw);
    height: min(var(--app-height), 93.75vw);
}

input{
    display: none;
}

button{
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
    color: #1c1c1c;
    font-family: "NES";
    font-size: 1.3em;
}

#rom-button{
    padding: min(4vw, 20px);
    margin: min(1vw, 5px);
    font-size: min(4vw, 1.3em);
}

#actions-container{
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
}

#actions-container > button{
    font-size: 1em;
    padding: 10px;
    display: none;
    z-index: 2;
}

@font-face{
    font-family: "NES";
    src: url("nes.ttf");
}

p{
    color: #ffffff;
    font-family: "NES";
    font-size: 1.3em;
}

#fps-counter{
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 1em;
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0%;
    padding: 0%;
    z-index: 1;
}

#tactile-overlay{
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    filter: blur(8px);
    transform: scale(2.0);
    transition: opacity .5s ease-in-out, filter .5s ease-in-out, transform .7s ease-in-out;
}

@media (hover:none){
    #tactile-overlay.ingame{
        opacity: 1;
        filter: blur(0px);
        transform: scale(1.0);
        transition: opacity .5s ease-in-out, filter .5s ease-in-out, transform .7s ease-in-out;
    }
}

@media (hover:hover){
    #tactile-overlay{
        display: none !important;
    }
}

#tactile-overlay img{
    pointer-events: auto;
    margin: 0%;
    padding: 0%;
    position: absolute;
    opacity: 0.5;
}

#bt-a{
    width: calc(var(--bt-scale)*1.6);
    height: calc(var(--bt-scale)*1.6);
    right: 5px;
    bottom: calc(1.3*var(--bt-scale) + 12px);
}

#bt-b{
    width: calc(var(--bt-scale)*1.6);
    height: calc(var(--bt-scale)*1.6);
    right: calc(1.6*var(--bt-scale) + 12px);
    bottom: calc(1.3*var(--bt-scale) + 12px);
}

#bt-select{
    width: calc(var(--bt-scale)*1.3);
    height: calc(var(--bt-scale)*1.3*0.682);
    left: 5px;
    bottom: 5px;
}

#bt-start{
    width: calc(var(--bt-scale)*1.3);
    height: calc(var(--bt-scale)*1.3*0.682);
    right: 5px;
    bottom: 5px;
}

#bt-up{
    transform: rotate(90deg);
    width: var(--bt-scale);
    height: var(--bt-scale);
    left: calc(var(--bt-scale) + 5px);
    bottom: calc(3.3*var(--bt-scale) + 12px);
}

#bt-down{
    transform: rotate(270deg);
    width: var(--bt-scale);
    height: var(--bt-scale);
    left: calc(var(--bt-scale) + 5px);
    bottom: calc(1.3*var(--bt-scale) + 12px);
}

#bt-left{
    transform: rotate(0deg);
    width: var(--bt-scale);
    height: var(--bt-scale);
    left: 5px;
    bottom: calc(2.3*var(--bt-scale) + 12px);
}

#bt-right{
    transform: rotate(180deg);
    width: var(--bt-scale);
    height: var(--bt-scale);
    left: calc(2*var(--bt-scale) + 5px);
    bottom: calc(2.3*var(--bt-scale) + 12px);
}

#bt-pad{
    width: var(--bt-scale);
    height: var(--bt-scale);
    left: calc(var(--bt-scale) + 5px);
    bottom: calc(2.3*var(--bt-scale) + 12px);
}
